<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <appSettings>
    <add key="AllowedDomains" value="localhost," />
    <add key="AllowedIPs" value="localhost," />
	<add key="MBUrl" value="https://swmb2.playliga.com" />
  </appSettings>
  <system.webServer>
    <directoryBrowse enabled="true" />
	<modules runAllManagedModulesForAllRequests="false">
		<remove name="WebDAVModule" />
	</modules>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Methods" value="*" />
      </customHeaders>
    </httpProtocol>
    <handlers>
        <add name="createallgames" path="allgames/create" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
        <add name="updateallgames" path="allgames/update" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
        <add name="deleteallgames" path="allgames/delete" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
		  
		<add name="createlobbygames" path="lobbygames/create" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
		<add name="updatelobbygames" path="lobbygames/update" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
		<add name="deletelobbygames" path="lobbygames/delete" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />

		<add name="createheadergames" path="headergames/create" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
		<add name="updateheadergames" path="headergames/update" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />
		<add name="deleteheadergames" path="headergames/delete" verb="*" type="cdn.ImageHandler" resourceType="Unspecified" preCondition="integratedMode" />

		<add name="createtoken" path="token/create" verb="*" type="cdn.TokenHandler" resourceType="Unspecified" preCondition="integratedMode" />
		<add name="decrypttoken" path="token/decrypt" verb="*" type="cdn.TokenHandler" resourceType="Unspecified" preCondition="integratedMode" />
		<add name="checktoken" path="token/check" verb="*" type="cdn.TokenHandler" resourceType="Unspecified" preCondition="integratedMode" />
		<add name="apidocs2" path="/api-docs" verb="*" type="cdn.APIDocs" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>